.page {
  display: none;
}

.current-page {
  display: inline;
}

#phone-number-box,
#loader,
#get-started-box,
#error-box,
#phone-number-error
{
  display: none;
}

.template
{
  display: none;
}

.phone-input
{
  font-size: 30px;
  width: 40px;
  height: 30px;
  margin-bottom: 5px;
}

.phone-input-wide
{
  width: 50px;
}

.phone-input-field
{
  font-size: 30px;
  color: gray;
}